/* .container {
  flex-direction: row;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */
/* -----------> HEAD <----------- */

.center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
}
/* =============================================> List */
.center a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  color: #f09819;
  font-weight: bold;
  transition: 0.2s;
}
.center a:hover {
  padding: 0.23rem 1rem;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: -5px -5px 10px #bababa, 5px 5px 10px #ffffff;
}
/* ====================================================> Profile-top */
.profile {
  margin: 2rem 0 2rem 0;
  width: 150px;
  border-radius: 85px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
}
.center-col {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center-col h2 {
  padding: 0 15px 0 15px;
  font-family: KonKhmerSURIN;
  color: #29323c;
  border-radius: 38px;
  background: linear-gradient(225deg, #ff585890, #f096197c);
  box-shadow: -23px 23px 57px #bababa, 23px -23px 57px #ffffff;
}
.center-col h2:hover {
  color: #f09819;
  cursor: pointer;
}
.P-head {
  margin-top: -20px;
  font-family: KonKhmerSURIN;
  font-size: 1rem;
  width: 85%;
  text-align: justify;
  color: #29323cb6;
}
/* ===========================================================> Center-col */
#h1-size {
  text-align: center;
  font-size: 20px;
  width: 85%;
}
.center-col h1 .Chhaya {
  font-family: KonKhmerSURIN;
  color: #ff5858;
}
.center-col h1 .Chhaya:hover {
  color: #f09819;
}
.center-col h1 .bbu {
  font-family: KonKhmerSURIN;
  color: #ff5858;
}
.center-col h1 .bbu:hover {
  color: #4facfe;
}

/* ==========================================================> Profile-Body */
.profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.profile-body img {
  margin: 1rem 5rem 1rem 5rem;
  width: 150px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: -19px 19px 38px #bababa, 19px -19px 38px #ffffff;
  flex-direction: row;
  align-items: center;
}

.profile-body img:hover {
  cursor: pointer;
  background: #ff5858a5;
}
.P-body {
  font-family: KonKhmerSURIN;
  font-size: 1rem;
  width: 85%;
  text-align: justify;
  color: #29323cb6;
}

.A-center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.A-p-h {
  font-family: KonKhmerSURIN;
  font-size: 1rem;
  width: 70%;
  text-align: justify;
  color: #4facfe;
}
@media (max-width: 600px) {
  .profile-body {
    flex-direction: column;
  }
  #h1-size b {
    font-size: 1rem;
    text-align: center;
  }
  #GOOD {
    font-size: 1.2rem;
  }
  .center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
